@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: darkslateblue;
}

nav{
    background-color: rgb(130, 0, 251);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav h2{
    color: white;
}

nav ul{
    display: flex;
    list-style: none;
}

nav ul li{
    margin: 25px;
    font-weight: 600;
}

nav ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.first{
    padding: 25px;
}

.first-heading{
    padding: 10px;
}

.first-heading h2{
    font-size: 40px;
    font-weight: 800;
    color:white;
    align-items: center;
    text-align: center;
}

.card-container{
    display: flex;
    padding: 5%;
    justify-content: space-around;
}

.card{
    flex-direction: row;
    margin:10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap:4px;
    width: 350px;
    height: 450px;
    /* border: 2px solid black; */
    background-color: white;
    border-radius: 20px 20px 0 0;
    box-shadow: 5px 5px 5px 5px rgba(62, 5, 116, 0.5);
}
.card img{
    width: 350px;
    height: 300px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}
.card p{
    display: flex;
        flex-direction: column;
        padding: 0px 5px;
        font-size: 25px;
        font-weight: 800;;
        align-items:center;
        margin-top: -25px;
        text-align: justify;
        text-decoration: underline;
}
.card button{
    margin-left: 138px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: black;
    color: white;
    width: 90px;
    height: 45px;
    border-radius: 10px;
}

.card button:hover{
    cursor: pointer;
    box-shadow: 0 0 15px 0 rgb(0, 0, 0, 0.8);
}
@media screen and (max-width: 600px) {
    nav{
        background-color: rgb(130, 0, 251);
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    
    nav h2{
        font-size: 15px;
        color: white;
    }
    
    nav ul{
        display: flex;
        list-style: none;
    }
    
    nav ul li{
        font-size: 13px;
        margin: 15px;
        font-weight: 600;
    }
    
    nav ul li a{
        text-decoration: none;
        color: rgb(255, 255, 255);
    }
    
    .first{
        padding: 25px;
    }
    
    .first-heading{
        padding: 10px;
    }
    
    .first-heading h2{
        font-size: 40px;
        font-weight: 800;
        color:white;
        align-items: center;
        text-align: center;
    }
    
    .card-container{
        display: flex;
        padding: 5%;
        justify-content: space-around;
        overflow-x:scroll;
    }
    
    .card{
        flex-direction: row;
        /* margin:10px; */
        display: grid;
        grid-template-rows: repeat(auto-fit, minmax(350px, 1fr));
        gap:4px;
        width: 320px;
        height: 450px;
        /* border: 2px solid black; */
        background-color: white;
        border-radius: 20px 20px 20px 20px;
        box-shadow: 5px 5px 5px 5px rgba(62, 5, 116, 0.5);
    }
    .card img{
        width: 320px;
        height: 300px;
        object-fit: cover;
        border-radius: 20px 20px 0 0;
    }
    .card p{
        display: flex;
        flex-direction: column;
        padding: 0px 5px;
        font-size: 25px;
        font-weight: 800;;
        align-items:center;
        margin-top: -25px;
        text-align: justify;
        text-decoration: underline;
    }
    .card button{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 138px;
        top:-280px;
        border: none;
        background-color: black;
        color: white;
        width: 80px;
        height: 40px;
        border-radius: 10px 10px 0 0;
    }
    
    .card button:hover{
        cursor: pointer;
        box-shadow: 0 0 15px 0 rgb(0, 0, 0, 0.8);
    }
}